.vscode
node_modules
.env
images
tmp
todo.md
**/.tmp
**/.cache
**/.data*
**/.test-data
.scratchpad.md
config.json
*.log
**/.puppeteer/*
**/nohup.out
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
